<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poker Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
{% extends "base.html" %}
{% block content %}
    <body>

    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-9">
                <hr>

                <div id="container">
                    <div id="commandline">
                        <form action="" method="post">
                            {% csrf_token %}
                            <br>
{#                            <label id="userlabel" for="username">Username:</label>#}
                            <input type="text" name="username_input" id="username" placeholder="username"/>
                            <br>
{#                            <label id="commandlabel" for="command">Command:</label>#}
                            <input type="text" name="command_input" id="command" placeholder="command"/>
                            <input type="submit" class="commandbutton">
                        </form>
                    </div>
                </div>
                <br><br>

                <hr>

                <div class="row">
                    {% for table in tables %}
                        <div class="col-sm-2 text-center">
                            <h3>{{ table.name }}</h3>
                            <p>Seats: {{ table.players.all.count }}/5 </p>
                            <p>Pot: {{ table.pot }} chips</p>
                            <p>Current Bet: {{ table.currentBet }}</p>
                        </div>
                        <div class="col-sm-10">
                            <h4>{{ table.dealer.username }}</h4>
                            <div id="tableinner">
                                <table>
                                    <tr>
                                    <tr>
                                        <th id="playerheading">Players</th>
                                        <th id="chipsheading">Chips</th>
                                        <th id="cardheading">Cards</th>
                                        <th id="betheading">Amount Bet</th>
                                        <th id="folded">Folded</th>
                                    </tr>
                                    {% for player in table.players.all %}
                                        <tr>
                                            <td id="playerdata">{{ player.username }}</td>
                                            <td id="chipsdata">{{ player.chips }}</td>
                                            <td id="carddata">
                                                <ul>
                                                    {% for card in player.hand.all %}
                                                        <li>{{ card }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td id="betdata">{{ player.betAmount }}</td>
                                            <td id="foldeddata">{{ player.folded }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
            <br>
            <div>
            <div id="prevresponses">
                    {% for command in allcommands %}
                        <p>{{ command }}</p>
                        <p>tables: {{ tables.first.name }}     seats: {{ tables.first.players.count }}</p>
                    {% endfor %}
                </div>
            </div>
            </div>
            <div class="col-sm-3 sidenav">
                <div id="response">
                    <p>{{ message }}</p>
                </div>

                <br>
                <div id="highscorediv">
                    <h2>Scores</h2>
                    {% for player in players %}
                        <tr>
                            <p id="playerdata">{{ player.username }}: {{ player.highScore }}</p>
                        </tr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    </body>
{% endblock content %}
</html>
