<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login page</h1>
{% extends "base.html" %}
{% block content %}
    {% if error_messages %}
        {{ error_messages }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>username:   </td>
                <td><input type="text" name="username" required></td>
            </tr>
            <tr>
                <td>password:   </td>
                <td><input type="password" name="password" required></td>
            </tr>
        </table>
        <input type="submit" value="login">
    </form>
{% endblock %}
</body>
</html>