<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
</head>
<body>
<h1>Tables</h1>
{% extends "base.html" %}
    {% if error_messages %}
        <h5>{{ error_messages }}</h5>
    {% endif %}
{% block content %}
    <h2>{{ username }}</h2>
    <h5>Top Players</h5>
    <ul>
        {% for player in players %}
            <li>{{ player.username }}</li>
        {% endfor %}
    </ul>
    <h5>All Tables</h5>
    <ul>
        {% for table in tables %}
            <a href="{% url 'table' table.name %}">
                <li>{{ table.name }}</li>
            </a>
        {% endfor %}
    </ul>
    <h3>Create New Tables</h3>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>tablename:   </td>
                <td><input type="text" name="tablename_create" required></td>
                <td>dealername:   </td>
                <td><input type="text" name="dealer_create" required></td>
            </tr>
        </table>
        <input type="submit" name="create_table" value="create">
    </form>
    <h3>Delete Users</h3>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>tablename:   </td>
                <td><input type="text" name="tablename_delete" required></td>
            </tr>
        </table>
        <input type="submit" name="delete_table" value="delete">
    </form>
{% endblock %}
</body>
</html>