<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poker Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/tablestyles.css">
    <link rel="stylesheet" href="/static/css/cards.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid" id="prompts">
        <h4>{{ prompt }}</h4>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Poker Table</h1>
            <h2>{{ username }}</h2>
        <div id="playerhand">
                {% for card in player.hand.all %}
                    <div id="cardholder">
                        <p id="suit_{{ card.suit }}rank_{{ card.rank }}"></p>
                    </div>
                {% endfor %}
</div>

            <div id="maintable">
                <div id="seat1" class="seat">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" class="sitButton" name="sit1" value="Sit">
                    </form>
                </div>
                {% if taken1 %}
                        <div id="seat1_conf" class="confirmed">
                            <p>{{ player1.username }}</p>
                            <p>Chips: {{ player1.chips }}</p>
                            <p>Folded: {{ player1.folded }}</p>
                            <p>Bet Amount: {{ player1.betAmount }}</p>
                        </div>
                    {% endif %}

                <div id="seat2" class="seat">

                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" class="sitButton" name="sit2" value="Sit">
                    </form>
                </div>
                {% if taken2 %}
                    <div id="seat2_conf" class="confirmed">
                        <p>{{ player2.username }}</p>
                        <p>Chips: {{ player2.chips }}</p>
                        <p>Folded: {{ player2.folded }}</p>
                        <p>Bet Amount: {{ player2.betAmount }}</p>
                    </div>
                {% endif %}
                <div id="seat3" class="seat">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" class="sitButton" name="sit3" value="Sit">
                    </form>
                </div>
                {% if taken3 %}
                        <div id="seat3_conf" class="confirmed">
                            <p>{{ player3.username }}</p>
                            <p>Chips: {{ player3.chips }}</p>
                            <p>Folded: {{ player3.folded }}</p>
                            <p>Bet Amount: {{ player3.betAmount }}</p>
                        </div>
                    {% endif %}

                <div id="seat4" class="seat">

                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" class="sitButton" name="sit4" value="Sit">
                    </form>
                </div>
                {% if taken4 %}
                        <div id="seat4_conf" class="confirmed">
                            <p>{{ player4.username }}</p>
                            <p>Chips: {{ player4.chips }}</p>
                            <p>Folded: {{ player4.folded }}</p>
                            <p>Bet Amount: {{ player4.betAmount }}</p>
                        </div>
                    {% endif %}

            </div>
        </div>

        <div class="col-sm-4 sidenav">
            <div class="row" id="playerbuttons">
                <div class="col">
                    <h2>Player Buttons</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        Fold <input type="radio" id="foldbutton" name="buttons" value="Fold"><br>
                        Call <input type="radio" id="callbutton" name="buttons" value="Call"><br>
                        Raise by 1 <input type="radio" id="raise1button" name="buttons" value="Raise1"><br>
                        Raise by 2 <input type="radio" id="raise2button" name="buttons" value="Raise2"><br>
                        Raise by 3 <input type="radio" id="raise3button" name="buttons" value="Raise3"><br>
                        Raise by 4 <input type="radio" id="raise4button" name="buttons" value="Raise4"><br>
                        Raise by 5 <input type="radio" id="raise5button" name="buttons" value="Raise5"><br>
                        <input type="submit" name="go" value="go">
                    </form>
                </div>
                <br>
                <div class="col">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" id="quitgamebutton" name="quit" value="Quit Game">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" id = "refreshbutton" name="refresh" value="refresh">
    </form>
</footer>

</body>
</html>
