<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Users</h1>
{% extends "base.html" %}
{% block content %}
    {% if error_messages %}
        {{ error_messages }}
    {% endif %}
    <h2>{{ username }}</h2>
    <h3>all users</h3>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <h3>Create New Users</h3>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>username:   </td>
                <td><input type="text" name="username_create" required></td>
            </tr>
            <tr>
                <td>password:   </td>
                <td><input type="password" name="password_create" required></td>
            </tr>
        </table>
        <input type="submit" name="create_user" value="create">
    </form>
    <h3>Delete Users</h3>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>username:   </td>
                <td><input type="text" name="user_delete" required></td>
            </tr>
        </table>
        <input type="submit" name="delete_user" value="delete">
    </form>

{% endblock %}
</body>
</html>