<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Users</h1>
{% extends "base.html" %}
{% block content %}
    {% if access_denied %}
        {{ access_denied }}
    {% endif %}
{% endblock %}
</body>
</html>