#playerhand
{
    display: flex;
}

#cardholder
{
    height: 130px;
    width: 80px;
    padding: 5px 10px;
    margin: 5px;
}

#suit_1rank_1
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/AC.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_2
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/2C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_3
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/3C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_4
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/4C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_5
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/5C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_6
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/6C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_7
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/7C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_8
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/8C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_9
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/9C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_10
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/10C.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_11
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/JC.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_12
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/QC.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_1rank_13
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/KC.png");
    object-fit: contain;
    background-size: 82px;
}


#suit_2rank_1
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/AD.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_2
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/2D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_3
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/3D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_4
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/4D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_5
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/5D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_6
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/6D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_7
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/7D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_8
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/8D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_9
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/9D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_10
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/10D.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_11
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/JD.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_12
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/QD.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_2rank_13
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/KD.png");
    object-fit: contain;
    background-size: 82px;
}


#suit_3rank_1
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/AH.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_2
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/2H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_3
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/3H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_4
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/4H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_5
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/5H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_6
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/6H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_7
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/7H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_8
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/8H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_9
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/9H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_10
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/10H.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_11
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/JH.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_12
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/QH.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_3rank_13
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/KH.png");
    object-fit: contain;
    background-size: 82px;
}


#suit_4rank_1
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/AS.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_2
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/2S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_3
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/3S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_4
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/4S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_5
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/5S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_6
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/6S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_7
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/7S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_8
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/8S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_9
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/9S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_10
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/10S.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_11
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/JS.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_12
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/QS.png");
    object-fit: contain;
    background-size: 82px;
}
#suit_4rank_13
{
    height: 130px;
    width: 80px;
    background-image: url("/static/images/playingcards/KS.png");
    object-fit: contain;
    background-size: 82px;
}