body
{
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;

}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
#command {
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    height: 40px;
}
#username {
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    height: 40px;
}

#commandline input[type = "text"] {
  width: 100%;
  border: 3px solid #4d0000;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #1a0000;
}
.commandbutton {
  height: 40px;
  width: 100%;
  border: 1px solid #ff4d4d;
  background:  #ff4d4d;
  text-align: center;
  color: #1a0000;
  cursor: pointer;
  font-size: 15px;

}
#response {
  /* width: 60%; */
  background-color: #4d0000;
  padding: 15px ;
  margin: 15px 2px;
height: 80px;
  color: white;
  text-align: center;
    line-height: 1.5;
  vertical-align: middle;
}

#prevresponses {
  background-color: rgba(77, 0, 0, 0.62);
  padding: 15px ;
  margin: 15px 2px;
  height: 100%;
  color: white;
  text-align: left;
  line-height: 1.5;
  vertical-align: middle;
}
ul, li {
  list-style-type: none;
}
#tableinner {
  width:100%;
  border-collapse: collapse;
  border: 4px solid #A44766;
 box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 10px;
  text-align: left;
}
th{
  background: #FF4D4D;
  border-bottom: 0px solid #444444;
  padding: 10px 6px;
}
table{
  border: 1px solid #AAAAAA;
  width: 100%;
  padding: 10px 6px 5px;

}
tr {
  border: 1px solid #AAAAAA;
  padding: 10px 6px 24px;
  margin: 10px;
}
#playerheading {
  width: 35%;
  text-align: left;
}

#chipsheading {
   width: 15%;
  text-align:left;
}

#cardheading {
  width: 50%;
  text-align: left;
}





