/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 700px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
#prompts
{
  text-align: center;
  color: white;
}

#maintable{
  position: relative;
  width: 700px;
  height: 475px;
  background: rosybrown;
  border: 2px solid red;
}

.seat, .confirmed{
  height: 150px;
  width: 150px;
  position: absolute;
  background: #4d0000;
  text-align: center;
  vertical-align: middle;
}
p {
  color: #FFFFFF;
  font-weight: bold;
}
.sitButton{
  height: 30px;
  width: 50%;
  background: #fff4a8;
  font-size: 2rem;
}

#seat1, #seat1_conf{
  top: 0;
  left: 0;
}


#seat2, #seat2_conf{
  top: 0;
  right: 0;
}
#seat3, #seat3_conf{
  bottom: 0;
  left: 0;
}
#seat4, #seat4_conf{
  bottom: 0;
  right: 0;
}

#quitgamebutton
{
	width:100%;
    bottom: 0px;
    left: auto;
    position: absolute;
	text-align:center;
	color:black;
	line-height:43px;
	display: block;
    text-shadow:-1px -1px 0 #A84155;
	background: #D25068;
	border:1px solid #D25068;

}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
#refreshbutton
{

  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

