<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker Game</title>
    {% load static %}
<link rel = "stylesheet" type="text/css" href="{%  static 'css/styles.css' %}">
</head>
<body>
    {% block content %}


    {% endblock content %}

</body>
</html>